.container-CheckIn {
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5rem 0 5rem 0;
  align-items: center;
}
.CheckIn-box {

  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0 0 0 / 40%);
  border-radius: 10px;
  width: 400px;
  height: 565px;
  padding: 30px;
}

.CheckIn-box h1 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #009ae4;
  text-align: center;
}

.CheckIn-box .CheckInUser-box {
  position: relative;
  margin-top: 10px;
}

.CheckIn-box .CheckInUser-box input {
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  color: #515151;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #515151;
  margin-top: 10px;
  outline: none;
  background-color: transparent;
}

.CheckIn-box .CheckInUser-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 22px;
  color: #515151;
  font-weight: 100;
  pointer-events: none;
  transition: 0.5s;
}

.CheckIn-box .CheckInUser-box input:focus {
  color: #515151;
  border-bottom: 1px solid #009ae4;
}

.CheckIn-box .CheckInUser-box input:focus + label,
.CheckIn-box .CheckInUser-box input:valid + label {
  color: #009ae4;
  top: -15px;
  font-size: 18px;
}

.myButton {
  box-shadow: inset 0px 1px 3px 0px #d8e6e4;
  width: 100%;
  background: #009ae4 100%;
  border-radius: 5px;
  border: 1px solid #99a6a2;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #c9d4d2;
  margin-top: 10px;
}

.myButton:hover {
  background: #38beff 50%;
  color: #5e5e5e;
}

.myButton:active {
  position: relative;
  top: 3px;
}
