.accordion input{
    margin-top: 2rem;
    height: 2rem;
}
.accordion button{
    margin-top: 2rem;
    border: none;
    background-color: #009ae4;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 25px 0 20px auto;
    padding: 8px 15px;

}

details {
    cursor: pointer;
    padding: 0.5rem;
    margin:0;
    width: 200px;
}
summary {
    list-style: none;
    padding-right: 9rem;
    border-bottom: 1px solid gray;
}

