.container-home{
            
}
.SearchBar { grid-area: SearchBar;}
.Filter {grid-area: Filter;}

.home {
    display: flex;
}

.home-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media screen and (max-width: 600px){
    .home{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .container-home{

    }
}