.navbar .fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    background: #fff;
}
.navbar .fixed nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcd9d9;
}

.navbar nav .title {
    display: flex;
    flex: 1 1;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 14px 20px;
    
}

.navbar nav .title strong {
    color: #009ae4;
    cursor: pointer;
}

.navbar nav .icon {
    background: none;
    border: none;
    color: #515151;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 0;
    padding: 14px;
    text-align: center;
    width: 15%;
    border-left: 1px solid #dcd9d9;
}
