.container-details {
  display: flex;
  margin-top: 100px;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
}
.img-details .containerImg-big {
  height: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img-details #img-big {
  height: 300px;
  padding: 50px;
}

.img-details .card-category {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.img-details .container-flex-info {
  display: flex;
  
}

.product-info {
  padding: 50px;
  width: 50%;
}
