.container-details {
  display: flex;
  margin-top: 100px;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
}
.img-details .containerImg-big {
  height: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-details #img-big {
  height: 300px;
  padding: 50px;
}
.img-details #img-small {
  height: 70px;
  padding: 10px;
}
.button-buy {
  background: #009ae4 100%;
  color: #fff;
  padding: 15px;
  width: 100%;
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  cursor: pointer;
}

.img-details .card-category {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.img-details .container-flex-info {
  display: flex;
}

.product-info {
  padding: 50px;
  width: 50%;
}
.product-info-purchase {
  margin-top: 30px;
}
.product-info-purchase .product-info-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}
