.search-box {
    display: flex;
    margin: 0px 10px 30px 0px;
    position: relative;
    width: 100%;
    justify-content: center;
}
.search-box .form-search {
    display: flex;
    margin: 5.625rem 0.938rem 0.938rem 0;
    max-width: 56.25rem;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.form-search input {
    border: 1px solid #dcd9d9;
    flex: 1 1;
    font-size: 18px;
    padding: 19px 14px;
}

.form-search button {
    border: none;
    width: 70px;
    height: 40px;
    cursor: pointer;
    background-color: #009ae4;
}
.form-search button #iconGlass {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .search-box {
        margin: 0 10px 30px 10px;
    }
}
