html {
  height: 100%;
}

footer {
  background: #3c3c3b;
  padding: 60px 0;
}

body {
  box-sizing: border-box;
  color: #515151;
  font-family: Yantramanav,sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
